.jumbotron {
  color: #85ffc7;
  background-color: #ff8552;
  font-family: "Papyrus";
}
.jumbotron h1 {
  text-align: center;
}
.btn {
  margin-top: 1%;
  margin-left: 40%;
  color: #85ffc7;
  background-color: #ff8552;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  color: #84FFE4;
  background-color: #FF5A51;
  display: inline-block;
  text-decoration: none;
}
body {
  color: #85ffc7;
  background-color: #297373;
  font-family: "Book Antiqua";
}
#refresh {
  color: orange;
}
#refresh:hover {
  color: #ff8552;
}
.col-md-2 {
  background-color: #ff8552;
  color: #85ffc7;
  font-family: "Papyrus";
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  font-weight: bold;
  display: block !important;
  margin: 10px;
}
.col-md-2 h6 {
  color:white;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    color: #85ffc7;
    background-color: #ff8552;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 0 5px black;
    font-size: 16px;
    font-weight: bold;
}
